@import 'scss/fonts';
@import 'scss/variables';

body, html {
  background-color: $dark;
  color: $light-grey;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: $mainRed;
  color: white;
}

::-moz-selection {
  background: $mainRed;
  color: white;
}