@import "../../../scss/variables";
@import "../../../scss/mixins";

.wrap {
  padding: 24px;
  min-width: 300px;
  border-radius: 6px;
  height: 100%;
  background-color: $column;

  h3 {
    margin-bottom: 16px;
    padding: 0 4px;
  }

  .taskList {
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .addCardArea {
    width: 100%;
    border-radius: 4px;
    background-color: $task;
    resize: none;
    outline: none;
    border: none;
    color: $light-grey;
    padding: 8px;
    margin: 8px 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .addCardAreaHidden {
    visibility: hidden;
    position: absolute;
  }

  form {
    .formBtns {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .addTaskBtn {
        @include form-btn;
        width: 100%;
        background-color: transparent;

        &:hover {
          background-color: $task;
          transition: .2s ease all;
        }

        span {
          font-size: 32px;
          font-weight: 400;
          margin-right: 8px;
        }
      }

      .addTaskBtnFormOpen {
        @include form-btn;
        justify-content: center;
        background-color: $task;
        height: 38px;
        width: 55%;

        &:hover {
          background-color: $hoverRed;
          color: #fff;
          transition: .2s ease all;
        }

        span {
          font-size: 28px;
          font-weight: 400;
          margin-right: 8px;
        }
      }

      .cancelTaskBtn {
        @include form-btn;
        justify-content: center;
        background-color: $task;
        height: 38px;
        transition: .2s ease all;
        width: 40%;

        &:hover {
          background-color: $taskHover;
          transition: .2s ease all;
        }
      }
    }
  }
}