@import "../../scss/mixins";
@import "../../scss/variables";

.wrap {
  display: flex;
  gap: 24px;

  .addColumnBtn {
    @include btn;
    justify-content: center;
    gap: 8px;
    border: 2px solid $grey;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    height: 80px;
    padding: 0;
    min-width: 300px;

    &:hover {
      background-color: $grey;
      transition: .2s ease all;

      span {
        background-color: $grey;
        transition: .2s ease all;
      }
    }

    span {
      font-size: 28px;
      font-weight: 500;
    }
  }
}