@import "../../../scss/variables";

.wrap {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid $grey;
  padding: 12px 48px;

  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: $mainRed;
  }

  .utils {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}